@model HireEmployeeViewModel
@{
    //var departments = new List<string> { "HR", "IT", "Finance", "Marketing" };
    var positions = new List<string> { "Junior Dev", "Mid Dev", "Senior dev", "Devops" };
}
<form asp-action="HireEmployee" method="post" role="form">
    <input type="hidden" asp-for="ApplicationUserId" />  
          
    <div class="form-group">
        <label asp-for="Salary"></label>
        <input asp-for="Salary" class="form-control" />
        
    </div>   
    
    <label asp-for="Position">Position</label>
    <select asp-for="Position" class="form-control">
        <option value="">-- Select Position --</option>
        @foreach (var pos in positions)
        {
            <option value="@pos">@pos</option>
        }
    </select>

    
    <label asp-for="CountryId">Country</label>
    <select asp-for="CountryId" asp-items="Model.CountryOptions" class="form-control">
        <option value="">-- Select Country --</option>
    </select>
    
    
    <label asp-for="DepartmentName">Department Name</label>
    <select asp-for="DepartmentName" class="form-control">
        <option value="">-- Select Department --</option>
        @foreach (var dept in Model.Departments)
        {
            <option value="@dept.Name">@dept.Name</option>
        }
    </select>
    <div class="form-group">
        <label asp-for="IBAN"></label>
        <input asp-for="IBAN" class="form-control" />

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <div asp-validation-summary="All" class="text-danger"></div>
</form>
